.mood-container {
	color: white;
	margin-left: 250px;
	/* max-height: 100vh;
	overflow-y: scroll; */
	/* border: 2px solid red; */
	padding-left: 36px;
}

.user-name {
	font-size: 2rem;
	padding-top: 24px;
	font-weight: bold;
	color: #565656;
}

.user-mood {
	font-size: 2rem;
	font-weight: bold;
	color: #7d7d7d;
}

.mood-header-search {
	display: flex;
	align-items: center;
	justify-content: space-between;
	/* padding-left: 100px; */
	padding-right: 36px;
}

.mood-chooser-parent {
	display: flex;
	gap: 16px;
}
