.mood-container {
	color: white;
	margin-left: 250px;
	max-height: 100vh;
	overflow-y: scroll;
	padding-left: 36px;
	margin-bottom: 20px;
}

.user-name {
	font-size: 2rem;
	padding-top: 24px;
	font-weight: bold;
	color: #565656;
}

.user-mood {
	font-size: 2rem;
	font-weight: bold;
	color: #7d7d7d;
}

.mood-header-search {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-right: 36px;
}

.mood-chooser-parent {
	display: flex;
	gap: 16px;
}

.card-container {
	margin-top: 40px;
	display: flex;
	gap: 30px;
	margin-right: 36px;
	flex-wrap: wrap;
	justify-content: flex-start;
	padding-bottom: 30px;
}

/* .load-more-container {
	display: block;
	text-align: center;
	background-color: red;
	width: 10%;
	margin: auto;
} */

/* .load-more-container {
} */
