@import url("https://fonts.googleapis.com/css2?family=Baloo+Tamma+2&display=swap");
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Baloo Tamma 2", cursive;
}

.home-container {
	height: 100vh;
	background-color: #222629;
}

.unresponsive-container {
	height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #222629;
}
